<?xml version="1.0" encoding="utf-8"?>
<!--
     Charging speed only (cool_down). Charge limit: Lineage Health.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lineageos.settings.chargespeed"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:label="@string/charging_speed_title"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <activity
            android:name=".ChargingSpeedActivity"
            android:label="@string/charging_speed_title"
            android:exported="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/charging_speed_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-180" />
        </activity>

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter android:priority="50">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
